---
title: Portfolio
---
<!doctype html>
<html lang="en">
<head>
    <!-- Page Header Section -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="css/main.css">

    <title>Portfolio | Tiago Magalhães</title>
</head>
<body>
<!-- Page Body Section -->

<!-- Page Navigation Bar -->
<nav class="navbar navbar-expand-lg fixed-top" data-aos="fade-down" data-aos-duration="450">

    <!-- Navbar content -->
    <div class="collapse navbar-collapse" id="Navbar Content">

        <!-- List containing the navigation links of the navigation bar -->
        <ul class="navbar-nav mx-auto my-auto">
            <li class="nav-item active nav_button">
                <a class="nav-link" href="index.html"><b>Home</b></a>
            </li>
            <li class="nav-item active nav_button">
                <a class="nav-link" href="portfolio.html"><b>Portfolio</b></a>
            </li>
            <li class="nav-item disabled nav_button">
                <a class="nav-link" href="blog.html"><b>Blog</b></a>
            </li>
        </ul>

    </div>

</nav>

<div class="jumbotron jumbotron-fluid portfolio_jumbo">
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="display-4">Portfolio</h1>
        </div>
    </div>
</div>

<!-- Primary Page Container -->
<div class="container-fluid content-section">

        <!-- Featured Projects And Experience Section -->
        <div id="Featured_Projects_Section" data-aos="fade-up" data-aos-duration="150">

            <div id="Projects">

                <div class="row justify-content-center">

                    <ul class="row w-100">
                        {% for project in site.categories.portfolio %}
                        <div class="col-6">
                            <a class="card project" href="{{ project.url}}">
                                <img class="card-image project_image img-thumbnail" src="/images/{{project.tags}}">
                                <div class="card-img-overlay">
                                    <p class="card-title">{{project.title}}</p>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </ul>

                </div>
            </div>

        </div>

        <br>
        <br>

    </div>

</div>

<!-- Material Bootstrap JS Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script>
    AOS.init();
</script>

</body>
<footer>
    <!-- Page Footer Section -->

</footer>
</html>