#Landing_Screen {
    height: 100vh;
    background-image: url("https://images5.alphacoders.com/911/thumb-1920-911789.jpg");
    background-size: cover;
}

#Landing_Section {
    color: white;
}

#Profile_Picture {
    width: 15vw;
    height: auto;
    border: white solid 4px;
}

.content-section {
    width: 85vw;
}

.project_image {
    padding-left: 0;
}

.project_image img {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 200px;
    object-fit: cover;
}

.project_text {
    padding-right: 0;
}

.project {
    margin-top: 10px;
}

.navbar {
    background-color: rgba(255, 255, 255, .30);
    backdrop-filter: blur(3px);
}