/* Hide Scrollbar in webkit browsers*/
::-webkit-scrollbar {
    display: none;
}

#Landing_Screen {
    height: 100vh;
    background-image: url("https://images5.alphacoders.com/911/thumb-1920-911789.jpg");
    background-size: cover;
}

#Landing_Section {
    color: white;
}

#Profile_Picture {
    width: 15vw;
    height: auto;
    border: white solid 4px;
}

.content-section {
    width: 85vw;
}

.project_image {
    padding-left: 0;
}

.project_image img {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 200px;
    object-fit: cover;
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
}

.project_text {
    padding-right: 0;
}

.project {
    margin-top: 10px;
    border-radius: 50px !important;
}

.navbar {
    background-color: rgba(0, 0, 0, .25);
    backdrop-filter: blur(3px);
}

.cover-text {
    text-shadow:    0px 4px 3px rgba(0,0,0,0.4),
                    0px 8px 13px rgba(0,0,0,0.1),
                    0px 18px 23px rgba(0,0,0,0.1);
}

.nav_button {
    transition: all .2s ease-in-out !important;
}

.nav_button:hover{
    transform: scale(1.2,1.2) !important;
    -webkit-transform:scale(1.2,1.2) !important;
    -moz-transform:scale(1.2,1.2) !important;
}