---
title: Blog
---
<!doctype html>
<html lang="en">
<head>
    <!-- Page Header Section -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Material Bootstrap CSS Stylesheets -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet"
          href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
          integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

    <title>{{page.title}} | Blog | Tiago Magalhães</title>
</head>
<body>
<!-- Page Body Section -->

<!-- Page Navigation Bar -->
<nav class="navbar navbar-expand-lg fixed-top" data-aos="fade-down" data-aos-duration="450">

    <!-- Navbar content -->
    <div class="collapse navbar-collapse" id="Navbar Content">

        <!-- List containing the navigation links of the navigation bar -->
        <ul class="navbar-nav mx-auto my-auto">
            <li class="nav-item active nav_button">
                <a class="nav-link" href="{{ "/index.html" | prepend: site.baseurl }}"><b>Home</b></a>
            </li>
            <li class="nav-item active nav_button">
                <a class="nav-link" href="{{ "/portfolio.html" | prepend: site.baseurl }}"><b>Portfolio</b></a>
            </li>
            <li class="nav-item disabled nav_button">
                <a class="nav-link" href="{{ "/blog.html" | prepend: site.baseurl }}"><b>Blog</b></a>
            </li>
        </ul>

    </div>

</nav>

<div class="jumbotron jumbotron-fluid blogpost_jumbo" style="background-image:url({{site.baseurl}}/images/{{page.tags}});">
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="display-4">{{page.title}}</h1>
        </div>
        <div class="row justify-content-center">
            <p class=""><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>
        </div>
    </div>
</div>

<!-- Primary Page Container -->
<div class="container-fluid content-section">

{{content}}

</div>

</div>

<!-- Material Bootstrap JS Scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
        integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
        integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script>
    AOS.init();
</script>
<script>$(document).ready(function () {
    $('body').bootstrapMaterialDesign();
});</script>

</body>
<footer>
    <!-- Page Footer Section -->

</footer>
</html>